#include "../Common/AppBase.xcconfig"

CURRENT_PROJECT_VERSION = 4
DEVELOPMENT_TEAM = 97QC5USUD2
INFOPLIST_FILE = SLGSync/SLGSync-Info.plist
INFOPLIST_KEY_CFBundleDisplayName = SLG Sync Plus
INFOPLIST_KEY_UILaunchStoryboardName = SLGSync-LaunchScreen
MARKETING_VERSION = 1.0.2
PRODUCT_BUNDLE_IDENTIFIER = com.slg.slgsyncplus
