ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
CODE_SIGN_STYLE = Automatic
GCC_PREFIX_HEADER =
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_NSBluetoothAlwaysUsageDescription = Connect devices via Bluetooth
INFOPLIST_KEY_NSCameraUsageDescription = We need to access your camera for scanning the QR code of device
INFOPLIST_KEY_NSPhotoLibraryUsageDescription = We need to use your photo album to get the device's QR code
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents = YES
INFOPLIST_KEY_UIMainStoryboardFile =
INFOPLIST_KEY_UIRequiresFullScreen = YES
INFOPLIST_KEY_UISupportedInterfaceOrientations = UIInterfaceOrientationPortrait
IPHONEOS_DEPLOYMENT_TARGET = 15.0
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
PRODUCT_NAME = $(TARGET_NAME)
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
SUPPORTS_MACCATALYST = NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = NO
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_OBJC_BRIDGING_HEADER = SunSmart/SunSmart-Bridging-Header.h
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
