#include "../Common/AppBase.xcconfig"

CODE_SIGN_IDENTITY = Apple Development
DEVELOPMENT_TEAM = JTD3WYUC58
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 1.0.0
PRODUCT_BUNDLE_IDENTIFIER = com.azoula.sunsmart.Lumineux
INFOPLIST_FILE = Lumineux/Lumineux-Info.plist
INFOPLIST_KEY_CFBundleDisplayName = Lumineux
INFOPLIST_KEY_UILaunchStoryboardName = Lumineux-LaunchScreen
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
CODE_SIGN_ENTITLEMENTS = Lumineux/Lumineux.entitlements
